@import "../../pages/variables";

.header {
    position: sticky;
    z-index: 1;

    top: 0px;
    left: 0px;
    right: 0px;

    width: 100%;
    height: 45px;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: $header;
    color: #eeeeee;

    .grow {
        flex-grow: 1;
    }
}

.header h3 {
    margin: 0px 10px 0px 10px;
    padding: 10px;
}

.border {
    border-left: 1px solid red;
    width: 1px;
    height: 20px;
}

.header label {
    font-size: 10px;
}

.menu {
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    padding: 10px;
}

.parent {
    position: relative;
    // width: 100%;
    // height: 100%;
}

.overlay {
    display: none;

    position: fixed;
    z-index: 100;

    background-color: $background;

    top: 45px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    // height: 100%;

    padding: 10px;

    .flex {
        display: flex;
        flex-direction: column;
        // outline: 1px solid red;
    }

    @media (max-width: 900px) {
        // border: 1px solid red;
        margin: 0 auto;
        text-align: center;
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}
