.officer {
    // width: 700px;
    color: #ffffff;
    background: #0f2020;

}

.background {
    background-color: #0f2020;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    // flex-grow: 1;

    width: 100%;
    padding: 5px 15px;

    button {
        position: relative;

        background: #0f2020;

        color: #ffffff;
        font-size: 16px;
        font-weight: 700;

        padding-top: 2px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 2px;

        -webkit-perspective: 130px;
        perspective: 130px;

        border: 0px solid #78b7b8;
    }
    button:after {
        // background: #3498db;
        position: absolute;

        border: 2px solid #78b7b8;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        z-index: -1;
    }
    .selected:after {
        background-color: #78b7b8;
    }
    
}

.panels {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 0px 10px 10px 10px;
    // border: 2px solid #78b7b8;
    // border-radius: 10px;
}

.panel {
    // width: 600px;
    // min-width: 700px;
    display: none;
    padding: 40px 10px;

    color: #ffffff;
    border: 2px solid #78b7b8;
    border-radius: 10px;
}

.show {
    display: block;
}

.info {
    display: flex;
    flex-direction: column;


    min-width: 300px;

    padding: 5px;
    margin-left: 5px;

    border: 2px solid #78b7b8;
    border-radius: 10px;

    .selected {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 10px;

        img {
            width: 40px;
            height: 40px;

            padding: 2px;

            margin-right: 10px;
            border: 2px solid #78b7b8;
            border-radius: 5px;
        }
        h3 {
            margin: 0px;
        }
    }

    p {
        font-size: 14px;
        margin: 0px;
    }

    .grow {
        flex-grow: 1;
    }

    .bottom {
        text-align: center;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
    width: 100%;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // outline: 1px solid green;

    width: 80px;
    height: 80px;

    background-position: center;
    background-size: contain;

    text-align: center;

    // image {
    //     width: 32px;
    //     height: 32px;
    // }
    img {
        width: 40px;
        height: 40px;
    }
    span {
        position: absolute;
        top: 5px;
        font-size: 10px;
    }

    .points {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 10px;
        right: 10px;

        width: 18px;
        height: 18px;

        font-size: 12px;
        text-align: center;

        background: black;
        border: 1px solid black;
        border-radius: 50%;
    }
}
