.main {
    justify-content: start;
    width: 100%;
    padding: 20px;
}

.invasions {
    
    display: block;
    width: 100%;
    max-width: 1000px;

    color: #FFFFFF;

    h1,
    h3,
    h4,
    h5,
    p {
        text-align: center;
    }

    h2 {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #ff0000;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
    }
}

.current {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid #aaaaaa;
    background-color: #eeeeee;

    @media (max-width: "767px") {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid #aaaaaa;

        margin: 0px auto;
    }
}

.upcoming {
    display: flex;
    flex-direction: row;
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;

    @media (max-width: "767px") {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid #aaaaaa;

        margin: 0px auto;
    }
}

.details {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;

    padding: 10px;
    h1,
    h3,
    h4,
    h5 {
        margin: 0px;
    }
    h5 {
        margin: 5px 0px;
    }

    p {
        font-size: 12px;
        margin: 5px 0px;
    }

    .grow {
        flex-grow: 1;
    }
}

.following {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
   
    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.invasion {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #aaaaaa;
    margin: 0 auto;
}


