
@import "../../../pages/variables";

.button {
    height: 45px;
    // font-size: 30px;
    font-size: 18px;

    border: 0px solid #ffffff;
    // width: 40px;

    padding: 10px 20px;

    // margin-left: 5px;
    // margin-right: 5px;
    background-color: $header;
    border: 1px solid $header;

    border-bottom: 5px solid $header;


    color: #eeeeee;

    @media (max-width: 900px) {
        // border: 1px solid red;
        width: 100%;
        max-width: 250px;
        margin: 0px auto 5px auto;
    }
}
.button:hover {
    background-color: $disabled;
    border-left: 1px solid  $disabled;
    border-right: 1px solid  $disabled;
    border-top: 1px solid  $disabled;
    border-bottom: 5px solid $active;;
    
    cursor: pointer;

    // color: red;
    // margin-top: 2px;
    // margin-left: 2px;

    // margin-bottom: -2px;
    // margin-right: -2px;

    // border-left: 1px solid #333333;
    // border-bottom: 1px solid #333333;
    // border-right: 1px solid #333333;
    // border-left: 1px solid #333333;
    // border-bottom: 1px solid #333333;
    // filter: drop-shadow(3px 3px 5px #333);

    @media (max-width: 900px) {
        // border: 1px solid #333333;

    }
}

.disabled {
    

    opacity: 0.5;
}
.disabled:hover {
    background-color: $disabled;
    border: 1px solid $disabled;
    border-bottom: 5px solid $disabled;

    cursor: not-allowed;
}

.selected {
    background-color: $background;
    border: 1px solid $background;

    border-bottom: 5px solid $background;
    // border: 1px solid #227075;
    // border-bottom: 1px solid #227075;

    // border-top: 1px solid #284143;
    // border-left: 1px solid #284143;
    // border-right: 1px solid #284143;
    // border-bottom: 1px solid #1a2b2c;
}

