$primary: #284143;
$darker: #1a2b2c;
$select: #227075;
$highlight: #ffdf76;

.button {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    cursor: pointer;

    width: 200px;
    height: 200px;

    color: #ffffff;
    text-shadow: 1px 1px #333333;

    margin: 0px;
    padding: 10px;

    background-color: #aaaaaa;
    border: 1px solid #aaaaaa;

    div {
        opacity: 0.8;

        position: absolute;
        z-index: -1;

        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;

        background-position: center;
        // background-size: ;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    span {
        color: $highlight;
        font-size: 24px;
    }
    @media (max-width: 900px) {
        width: 150px;
        height: 150px;
        // font-size: 14px;
        span {
            font-size: 20px;
        }
    }

    @media (max-width: 600px) {
        width: 100px;
        height: 100px;
        span {
            font-size: 14px;
        }
    }
}
.button:hover {
    background-color: $select;
    border: 1px solid $select;

    div {
        opacity: 1;
    }
}
.disabled {
    cursor: not-allowed;
    // color: #333333;
    background-color: #aaaaaa;
    // opacity: 0.5;
    div {
        opacity: 0.8;
    }
}
.disabled:hover {
    background-color: #aaaaaa;
    border: 1px solid #aaaaaa;
    div {
        opacity: 0.8 !important;
    }
}
