.character {
    // background-color: #284143;
    color: #ffffff;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
    @media (max-width: 300px) {
        grid-template-columns: 1fr;
    }
}
